<!DOCTYPE html>
<html lang="utf8" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title>学真网--登录</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/a3common.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/font_43459_lbtux0zjkr6yldi.css}">
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
</head>
<script>

    $(function () {
        //登录
        $("#loginForm").submit(
            function () {

                var uname = $("#uname").val();

                var password = $("#pwd").val();

                if (uname == '') {
                    alert("手机号不能为空");
                    return false;
                }

                var myuname = /^[1][3,4,5,7,8][0-9]{9}$/;

                if (!myuname.test(uname)) {
                    alert("不是正确的手机号");
                    return false;
                }

                if(password ==''){
                    alert("密码不能为空");
                    return false;
                }
            }
        );

    });
</script>


<body>


<div id="main" class="main-warp">
    <div class="main-content">
        <div class="formDiv">

            <h2 class="text-center">登录</h2>


            <form id="loginForm" method="post" th:action="@{/user/login}">
                <div class="dataform">
                    <div class="input-warp gap">
                        <span class="input-icon iconfont icon-yonghu1"></span>
                        <input id="uname" name="uname" type="text" class="inputs" placeholder="手机号码"
                               maxlength="64">
                    </div>
                    <div class="error-content">
                        <span id="userNameErr" class="errMsg"></span>
                    </div>

                    <div class="input-warp gap">
                        <span class="input-icon iconfont icon-baomi"></span>
                        <input class="inputs" type="password" name="pwd" placeholder="密码" id="pwd" maxlength="20">
                    </div>
                    <div class="error-content">
                        <span id="passwordErr" class="errMsg"></span>
                    </div>

                    <div class="btn-warp gap">
                        <div class="text-center">
                            <input type="hidden" value="jsform" id="_app">
                            <button type="submit" id="btnLogin" class="btn btn-block lgbtn blue">登录</button>
                        </div>
                    </div>
                    <div class="gap">

                        <div class="pull-right" style="margin-top: 6px"><a
                                th:href="@{/user/register}"
                                class="link">新用户注册</a></div>

                        <div class="pretty-box">
                            <input type="checkbox" value="1" name="REMEMBER" id="remember" class="">
                            <label for="remember" style="font-weight: normal">记住我</label>
                        </div>
                    </div>


                    <div class="biggap third-party-title">
                        <h5 class="text-center"><span>第三方账号登录</span></h5>
                    </div>
                    <div class="third-auth">

                        <a title="用钉钉登录" class="dt" href="javascript:;"></a>
                        <a title="用微信账户登录" class="wx" href="javascript:;"></a>
                        <a title="用QQ账户登录" class="qq" href="javascript:;"></a>

                    </div>

                </div>
            </form>

        </div>
    </div>
</div>
<script>

    if("loginError"=="1"){
        alert("用户名或密码错");
    }

</script>

</body>
</html>